/*_------------------- General style --------------------*/
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

:root {
    --support-color : #0b0d17;
    --headings : #FFFFFF;
    --sub-headings : #D0D6F9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vh;
    min-height: 100vh;
    background-image: url(./src/images/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

/*----------------------- nav_bar -------------------*/

.nav__bar {
    width: 94%;
    height: 4.5rem;
    margin-top: 3rem;
    margin-left: 5rem;

    display: flex;
    justify-content: center;
}

.nav__bar img {
    margin-right: 2rem;
    margin-top: 0.9rem;
    width: 3rem;
    height: 3rem;
}

.nav__bar hr {
    margin-right: -2rem;
    width: 35rem;
    z-index: 1;

    align-self: center;
    background-color: white;
}

.menu__options {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    color: var(--headings);
    font-family: 'Barlow Condensed';
    letter-spacing: 2.35px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
}

.menu__options span {
    margin: 0.5rem;
    font-weight: 600;
    color: var(--headings);
}

.menu__options p:hover {
    cursor: pointer;
    text-decoration: underline;
}

/*------------------space__article__home -------------------*/

/* .main_section {
    max-width: 1440px;
} */

.home__info {
    width: 25rem;
    height: fit-content;
    margin-top: 15rem;
    margin-left: 10rem;

    color: var(--headings);
}

.home__info h1 {
    margin: 1rem auto;
    font-size: 140px;
    font-weight: 100;
    font-family: 'Bellefair';
    color: var(--headings);
}

.home__info h3 {
    font-size: 28px;
    color: var(--sub-headings);
    letter-spacing: 3.5px;
    font-family: 'Barlow Condensed';
}

.home__info p {
    font-size: 20px;
    font-family: 'Barlow Condensed';
    line-height: 1.5rem;
    color: var(--sub-headings);
    padding-bottom: 5rem;
}

/*------------------ explore__section------------------------*/

.explore {
    display: flex;
    position: absolute;
    width: 20rem;
    height: 20rem;
    top: 25rem;
    right: 6rem;

    justify-content: center;
    align-items: center;

    border-radius: 50%;
}

.explore p {
    padding: 6rem 2.5rem;
    border-radius: 50%;
    background-color: var(--headings);
    color: var(--support-color);

    font-size: 28px;
    font-family: 'Bellefair';
    letter-spacing: 2.35px;
}

.explore p:hover {
    cursor: pointer;
}

.explore:hover {
    background-color: rgba(125, 125, 125, 0.35);
    border-radius: 50%;
}

/*---------------------DESTINATIONS ---------------------------*/

/*--------------TITLE----------------------*/
.destination__title {
    margin-top: 5.5rem;
    margin-left: 10rem;
    color: var(--headings);
    font-family: 'Barlow Condensed';
    font-size: 28px;
    letter-spacing: 4.35px;
}

.destination__title span {
    color: rgb(81, 81, 81);
    padding-right: 0.5rem;
}

/*---------------IMAGE---------------------*/

.destination__image {
    width: 28rem;
    margin-top: 5.5rem;
    margin-left: 13rem;
}

/*--------------DESTINATION_INFO---------------*/

.destination__info {
    width: 23rem;
    margin-top: -27rem;
    margin-left: 50rem;
    padding-bottom: 10rem;
}

.destination__info ul {
    list-style: none;
    display: flex;
    gap: 2rem;

    color: var(--sub-headings);
    font-family: 'Barlow Condensed';
    letter-spacing: 2.35px;
}

.destination__info h1 {
    margin: 2rem 0;
    font-size: 95px;
    font-weight: 100;
    font-family: 'Bellefair';
    color: var(--headings);
}

.destination__info p {
    font-size: 18px;
    margin-bottom: 2rem;
    font-family: 'Barlow Condensed';
    line-height: 1.5rem;
    color: var(--sub-headings);
}

.destination__info hr {
    background-color: rgba(8, 8, 8, 0.5);
}

/*------------DESTINATION__DETAILS---------------*/

.destination__details {
    display: flex;
    gap: 3rem;
    margin-top: 1rem;
    font-family: 'Barlow Condensed';
    color: var(--sub-headings);
}

.destination__details h4 {
    font-size: 11px;
    letter-spacing: 2px;
    padding-bottom: 0.3rem;
}

.destination__details span {
    font-family: 'Bellefair';
    font-size: 24px;
    color: var(--headings);
}
