/*_------------------- General style --------------------*/
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

:root {
    --support-color : #0b0d17;
    --headings : #FFFFFF;
    --sub-headings : #D0D6F9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 120vh;
    background-image: url(./src/images/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

/*----------------------- nav_bar -------------------*/

.nav__bar {
    width: 94%;
    position: absolute;
    height: 4.5rem;
    top: 3rem;
    right: 0;

    display: flex;
    justify-content: center;
}

.nav__bar img {
    margin-right: 2rem;
    margin-top: 0.9rem;
    width: 3rem;
    height: 3rem;
}

.nav__bar hr {
    margin-right: -2rem;
    width: 40rem;
    z-index: 1;

    align-self: center;
    background-color: white;
}

.menu__options {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    color: var(--sub-headings);
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
}

.menu__options span {
    margin: 0.5rem;
    color: var(--headings);
}

/*------------------space__article__home -------------------*/

.home__info {
    position: absolute;
    width: 20rem;
    height: fit-content;
    top: 20rem;
    left: 10rem;

    color: var(--headings);
    /* background-color: aquamarine; */
}

.home__info h1 {
    margin: 2rem auto;
    font-size: 100px;
    font-weight: 100;
    font-family: 'Bellefair';
    color: var(--headings);
}

.home__info h3 {
    color: var(--sub-headings);
    letter-spacing: 3.5px;
    font-family: 'Barlow Condensed';
}

.home__info p {
    font-family: 'Barlow Condensed';
    line-height: 1.5rem;
    color: var(--sub-headings);
}

/*------------------ explore__section------------------------*/

.explore {
    display: flex;
    width: 15rem;
    height: 15rem;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 23rem;
    right: 12rem;

    border-radius: 50%;
    background-color: var(--headings);

    font-size: 28px;
    font-family: 'Bellefair';
    letter-spacing: 2.35px;
    z-index: 1;
}

.explore:hover::after {
    content: '';
    width: 100px;
    height: 100px;
    background-color: black;
    z-index: 5;
}