/*_------------------- General style --------------------*/
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

:root {
    --support-color : #0b0d17;
    --headings : #FFFFFF;
    --sub-headings : #D0D6F9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vh;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
/*----------------------- nav_bar -------------------*/

.nav__bar {
    width: 94%;
    height: 4.5rem;
    margin-top: 3rem;
    margin-left: 5rem;

    display: flex;
    justify-content: center;
}

.nav__bar img {
    margin-right: 2rem;
    margin-top: 0.9rem;
    width: 3rem;
    height: 3rem;
}

.nav__bar hr {
    margin-right: -2rem;
    width: 35rem;
    z-index: 1;

    align-self: center;
    background-color: white;
}

.menu__options {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    color: var(--headings);
    font-family: 'Barlow Condensed';
    letter-spacing: 2.35px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
}

.menu__options span {
    margin: 0.5rem;
    font-weight: 600;
    color: var(--headings);
}

.menu__options p:hover {
    cursor: pointer;
}

@media (min-width: 1441px) {
    .nav__bar {
        max-width: 1440px;
        margin: 5rem auto;
    }
}

@media (max-width: 1112px) {
    .nav__bar {
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .nav__bar img {
        margin-left: 1rem;
        width: 2.5rem;
        height: 2.5rem;
    }

    .nav__bar hr {
        display: none;
    }

    .menu__options {
        width: 55%;
        font-size: 14px;
    }

    .menu__options span {
        display: none;
    }
}

@media (max-width: 769px) {
    .nav__bar {
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .nav__bar img {
        margin-left: 1rem;
        width: 2.5rem;
        height: 2.5rem;
    }

    .nav__bar hr {
        display: none;
    }

    .menu__options {
        width: 55%;
        font-size: 14px;
    }

    .menu__options span {
        display: none;
    }
}

/*------------------space__article__home -------------------*/

@media (min-width: 1441px) {
    .main_section {
        max-width: 1430px;
        margin: 10rem auto;
    }
}

.home__info {
    width: 25rem;
    height: fit-content;
    margin-top: 15rem;
    margin-left: 10rem;

    color: var(--headings);
}

.home__info h1 {
    margin: 1rem auto;
    font-size: 140px;
    font-weight: 100;
    font-family: 'Bellefair';
    color: var(--headings);
}

.home__info h3 {
    font-size: 28px;
    color: var(--sub-headings);
    letter-spacing: 3.5px;
    font-family: 'Barlow Condensed';
}

.home__info p {
    font-size: 20px;
    font-family: 'Barlow Condensed';
    line-height: 1.5rem;
    color: var(--sub-headings);
    padding-bottom: 5rem;
}

@media (max-width: 769px) {
    .main_section {
        width: fit-content;
        margin: auto;
        text-align: center;
    }

    .home__info {
        margin-top: 8rem;
        margin-left: auto;
        margin-bottom: 30rem;
    }

    .home__info h1 {
        font-size: 120px;
    }
    
    .home__info h3 {
        font-size: 20px;
    }
    
    .home__info p {
        font-size: 18px;
    }
}

/*------------------ explore__section------------------------*/

.explore {
    display: flex;
    position: absolute;
    width: 20rem;
    height: 20rem;
    top: 25rem;
    right: 6rem;

    justify-content: center;
    align-items: center;

    border-radius: 50%;
}

.explore p {
    padding: 6rem 2.5rem;
    border-radius: 50%;
    background-color: var(--headings);
    color: var(--support-color);

    font-size: 28px;
    font-family: 'Bellefair';
    letter-spacing: 2.35px;
}

.explore p:hover {
    cursor: pointer;
}

.explore:hover {
    background-color: rgba(125, 125, 125, 0.35);
    border-radius: 50%;
}

@media (min-width: 1441px) {
    .explore{
        top: 30rem;
        right: 0;
        left: 60%;    
    }
}

@media (max-width: 769px) {
    .explore {
        top: 40rem;
        right: 0;
        left: 30%;
    }
}

/*---------------------DESTINATIONS ---------------------------*/

/*--------------TITLE----------------------*/
.destination__title {
    margin-top: 5.5rem;
    margin-left: 10rem;
    color: var(--headings);
    font-family: 'Barlow Condensed';
    font-size: 28px;
    letter-spacing: 4.35px;
}

.destination__title span {
    color: rgb(81, 81, 81);
    padding-right: 0.5rem;
}

/*---------------IMAGE---------------------*/

.destination__image {
    width: 28rem;
    margin-top: 5.5rem;
    margin-left: 13rem;
}

/*--------------DESTINATION_INFO---------------*/

.destination__info {
    width: 23rem;
    margin-top: -27rem;
    margin-left: 50rem;
    padding-bottom: 10rem;
}

.destination__info ul {
    list-style: none;
    display: flex;
    gap: 2rem;

    color: var(--sub-headings);
    font-family: 'Barlow Condensed';
    letter-spacing: 2.35px;
}

.destination__info ul li:hover {
    cursor: pointer;
}

.destination__info h1 {
    margin: 2rem 0;
    font-size: 95px;
    font-weight: 100;
    font-family: 'Bellefair';
    color: var(--headings);
}

.destination__info p {
    font-size: 18px;
    margin-bottom: 2rem;
    font-family: 'Barlow Condensed';
    line-height: 1.5rem;
    color: var(--sub-headings);
}

.destination__info hr {
    background-color: rgba(8, 8, 8, 0.5);
}

/*------------DESTINATION__DETAILS---------------*/

.destination__details {
    display: flex;
    gap: 3rem;
    margin-top: 1rem;
    font-family: 'Barlow Condensed';
    color: var(--sub-headings);
}

.destination__details h4 {
    font-size: 11px;
    letter-spacing: 2px;
    padding-bottom: 0.3rem;
}

.destination__details span {
    font-family: 'Bellefair';
    font-size: 24px;
    color: var(--headings);
}

@media (max-width: 1112px) {
    .destination__image {
        margin-left: 5rem;
    }

    .destination__info {
        margin-left: 40rem;
    }
}

@media (max-width: 769px) {
    .destination__title {
        margin-left: 0;
        font-size: 20px;
    }

    .destination__image {
        margin-left: 0;
        width: 20rem;
    }

    .destination__info {
        width: 60%;
        padding-bottom: 3rem;
        margin: 5rem auto 0 auto;
        text-align: center;
    }

    .destination__info h1 {
        margin: 2rem auto;
    }

    .destination__info ul {
        justify-content: center;
    }

    .destination__details {
        justify-content: center;
    }

    .destination__info p {
        font-size: 16px;
    }
}

/*---------------------- CREW -------------------------*/

.crew__title {
    margin-top: 5.5rem;
    margin-left: 10rem;
    color: var(--headings);
    font-family: 'Barlow Condensed';
    font-size: 28px;
    letter-spacing: 4.35px;
}

.crew__title span {
    color: rgb(81, 81, 81);
    padding-right: 0.5rem;
}

.slider {
    display: flex;
    justify-content: end;
}

.slide--1 {
    width: 90%;
    display: flex;
}

.biografia {
    width: 40rem;
    margin: 12rem 0 0 2rem;
}

.biografia h4 {
    margin-bottom: 1rem;
    color: rgb(81, 81, 81);
    font-size: 20px;
    font-family: 'Bellefair';
}

.biografia h2 {
    color: var(--headings);
    font-family: 'Bellefair';
    font-size: 45px;
    font-weight: 100;
}

.biografia blockquote {
    width: 55%;
    margin-top: 2rem;
    font-size: 16px;
    font-family: 'Barlow Condensed';
    line-height: 1.5rem;
    letter-spacing: 1px;
    color: var(--sub-headings);
}

.slide--1 img {
    width: 31rem;
    height: 40rem;
    margin-left: 1rem;
    margin-top: -2rem;
}

.dots {
    margin: 5rem 0 0 0;
    padding-bottom: 5rem;
    display: flex;
}

.dots__dot {
    border: none;
    background-color: var(--headings);
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
}

@media (max-width: 769px) {
    .crew__title {
        margin-left: 0;
        font-size: 20px;
    }

    .slider {
        justify-content: center;
    }

    .slide--1 {
        display: block;
    }

    .slide--1 img {
        width: 25rem;
        height: 30rem;
        margin-left: 0;
        margin-top: 0;
    }

    .biografia {
        width: fit-content;
        margin: 3rem auto;
    }

    .biografia blockquote {
        width: 80%;
        margin: 1rem auto;
    }

    .dots {
        justify-content: center;
        align-items: center;
    }
}

/*----------------- TECHNOLOGY ------------------*/

.tech__title {
    margin-top: 5.5rem;
    margin-left: 10rem;
    color: var(--headings);
    font-family: 'Barlow Condensed';
    font-size: 28px;
    letter-spacing: 4.35px;
}

.tech__title span {
    color: rgb(81, 81, 81);
    padding-right: 0.5rem;
}

.tech__container {
    display: flex;
    width: 88%;
    margin: 0 0 5rem 9.5rem;
}

.description__container {
    display: flex;
}

.description {
    margin: 10rem auto auto auto;
}

.description h4 {
    margin-bottom: 1rem;
    color: var(--sub-headings);
    font-size: 12px;
    letter-spacing: 2.5px;
    font-family: 'Barlow Condensed';
}

.description h2 {
    color: var(--headings);
    font-family: 'Bellefair';
    font-size: 45px;
    font-weight: 100;
}

.description blockquote {
    width: 68%;
    margin-top: 1rem;
    font-size: 16px;
    font-family: 'Barlow Condensed';
    line-height: 1.5rem;
    letter-spacing: 1px;
    color: var(--sub-headings);
}

.tech_dots {
    margin: auto 4rem auto auto;
}

.options {
    border: 1px solid white;
    background-color: transparent;
    height: 4rem;
    width: 4rem;
    margin-top: 2rem;
    border-radius: 50%;
    cursor: pointer;

    color: var(--headings);
    font-size: 30px;
    font-family: 'Bellefair';
}

.active {
    background-color: var(--headings);
    color: var(--support-color);
}

@media (max-width: 769px) {
    .tech__title {
        margin: 3rem auto;
        font-size: 20px;
    }

    .tech__container {
        width: 100%;
        flex-flow: column-reverse;
        margin: auto;
    }

    .tech_dots {
        margin: 2rem auto;
    }

    .options {
        margin: auto 0.5rem;
    }

    .description__container {
        flex-flow: column;
        align-items: center;
        margin: auto;
    }

    .description {
        margin: auto;
    }

    .description blockquote {
        width: 54%;
        margin: 1rem auto 5rem auto;
    }
}